@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: inter, sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #0B98E8 #FFFFFF;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #F3F8FA;
  overflow: hidden;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: #6C757D;
}

h2{
  font-size: 24px;
  font-weight: 900;
  color: #6C757D;
  text-transform: uppercase;
}

h3{
  font-size: 20px;
  font-weight: 700;
  color: #6C757D;
  text-transform: capitalize;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #ADB5BD;
}

.name_tag{
  font-weight: 700;
  text-transform: uppercase;
  color: #6C757D;
}

::-webkit-scrollbar {
  height: 6px;
  width: 12px;
}

::-webkit-scrollbar-track {
  margin-block: 0.5em;
  border-radius: 6px;
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: #ADB5BD;
  border-radius: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #0B98E8;
}